* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(104, 212, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
}

.calculator {
    background-color: #212121;
    width: 350px;
    height: 600px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;   
}

.display {
    flex: 1;
    background-color: rgb(202, 202, 202);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px 20px;
    margin: 10px;
}

.user-inputs {
    flex: 3;
    background-color: #212121;
    border-radius: 0 0 40px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    grid-gap: 1rem;
    padding: 1rem; 
}

.current-operand {
    font-size: 3rem;
    color: white;    
}

.previous-operand {
    font-size: 1.5rem;
    color: white;
}

.user-inputs > button {
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: 700;
    background: #5a5a5a;
    border: 0px solid transparent;
    outline: none;
    text-decoration: none;
    border-radius: 110%;
    color: #DFDFDF;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

button.equals {
	grid-column: 3 / 5;
	border-radius: 2.5rem;
    background-color: orange;
}

button.operators {
    background-color: orange;
}

button.allclear, button.clear{
    background-color: rgb(155, 155, 155);
}

button:hover {
    transform: scale(1.1);	
}
